html {
	font-size: 10px;
	background: url(https://images.pexels.com/photos/164821/pexels-photo-164821.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
		bottom center;
	background-size: cover;
}

body,
html {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	height: 100vh;
	width: 100vw;
}

.mobile_advert {
	display: none;
}

.transp {
	background-color: #e6dedabf;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: inherit;
}

.songs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: inherit;
	height: 40vh;
	font-size: 19px;
	color: white;
}

.songs h1 {
	font-size: 26px;
}

.keys {
	display: flex;
	height: 40vh;
	align-items: center;
	justify-content: center;
}

.key {
	border: 0.3rem solid #2d2d2d;
	margin: 1rem;
	padding: 1rem 0.5rem;
	transition: all 0.07s ease;
	width: 8rem;
	text-align: center;
	color: white;
	background: #fefecc;
	height: 12em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.playing {
	transform: scale(1.1);
	border-color: #da72da;
	box-shadow: 0 0 1rem #da72da;
}

kbd {
	display: block;
	font-size: 6rem;
	color: #02475e;
	text-shadow: none;
}

.sound {
	font-size: 3.2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	color: #a56e52;
}

/*SLIDER*/

.container {
	width: 800px;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	height: 60vh;
	font-size: 19px;
	color: #fefecc;
}

ul,
li {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.slider {
	position: relative;
	width: 800px;
	height: 70%;
}

ul.slider li {
	position: absolute;
	left: 0px;
	top: 90px;
	opacity: 0;
	width: inherit;
	height: 70%;
	transition: opacity 0.1s;
	background: #02475e;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

ul.slider li:first-child {
	opacity: 1; /*Mostramos el primer <li>*/
}

ul.slider li:target {
	opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}

.menu {
	text-align: center;
	margin: 20px;
}

.menu li {
	display: inline-block;
}

.menu li a {
	display: inline-block;
	color: white;
	text-decoration: none;
	background-color: grey;
	padding: 10px;
	width: 20px;
	height: 20px;
	font-size: 20px;
	border-radius: 100%;
}

@media (max-width: 800px) {
	html {
		background: transparent;
	}
	.transp {
		display: none;
	}
	.mobile_advert {
		display: flex;
		background-color: #fefecc;
		width: 100%;
		height: 100%;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	.mobile_advert p {
		display: flex;
		color: #02475e;
		font-size: 40px;
		align-self: center;
		justify-content: center;
		text-align: center;
		width: 80%;
		font-family: monospace;
		line-height: 80px;
	}
}
